<%= link_to "View Todo List",todos_path%>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: edit_user_registration_path(resource.id), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :id, :value => resource.id%>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, options_for_select(User.genders.map {|k, v| [k.humanize.capitalize, k]}, :selected => resource.gender), autofocus: true, autocomplete: "gender" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address,autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :profile_image %><br />
    <%= f.file_field :profile_image, autofocus: true, autocomplete: "profile_image" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

