<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= form_group_for f, :email, label: false  do %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  <% end %>
  <%= form_group_for f, :first_name, label: false  do %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
  <% end %>
  <%= form_group_for f, :last_name, label: false  do %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
  <% end %>
  <%= form_group_for f, :gender, label: false  do %>
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(User.genders.map {|k, v| [k.humanize.capitalize, k]}),{}, {autofocus: true, autocomplete: "gender" , class: "form-control"}%>
  <% end %>
  <%= form_group_for f, :address, label: false  do %>
    <%= f.label :address %>
    <%= f.text_area :address, autofocus: true, autocomplete: "address", class: "form-control" %>
  <% end %>

  <%= form_group_for f, :password, label: false  do %>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  <% end %>

  <%= form_group_for f, :password_confirmation, label: false  do %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  <% end %>

  <%= form_group_for f, :profile_image, label: false  do %>
    <%= f.label :profile_image %>
    <%= f.file_field :profile_image, autofocus: true, autocomplete: "profile_image" , class: "form-control-field"%>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
