<% @todo.errors.full_messages.each do |message|%>
<h3 style="color:red;"><%= message %> </h3>
<%end%>
<div>
  <div>
    <%= f.label :name, "Title:" %>
  </div>
  <div>
    <%= f.text_field :name %></br>
  </div>
</div>
<div>
  <div>
    <%= f.label :categories, "Categories:" %>
  </div>
  <div>
    <% Todo::CATEGORIES.each do |category, key| %>
    <% if f.object.new_record? %>
    <%= f.check_box :categories, { multiple: true }, category, false %>
    <% else %>
    <%= f.check_box :categories, { multiple: true ,checked: f.object.categories.include?(category.to_s)}, category %>
    <% end %>
    <label><%=category%></label><br>
    <% end%>
    </br>
  </div>
</div>
<div>
  <div>
    <%= f.label :date, "Date:" %>
  </div>
  <div>
    <%= f.date_field :date, :value => f.object.date %></br>
  </div>
</div>
<div>
  <div>
    <%= f.label :reminder, "Add Reminder:" %>
  </div>
  <div>
    <%= f.check_box :reminder %></br>
  </div>
</div>
<div id="reminder_date">
  <div>
    <%= f.label :reminder_date, "Reminder Date:" %>
  </div>
  <div>
    <%= f.date_field :reminder_date, :value => f.object.reminder_date %></br>
  </div>
</div>
<div>
  <div>
    <%= f.label :is_public, "Is Public" %>
  </div>
  <div>
    <%= f.check_box :is_public %></br>
  </div>
</div>
<div>
  <div>
    <%= f.label :todo_attachment, "Todo Attachment" %>
  </div>
  <div>
    <%= f.file_field :todo_attachment %></br>
  </div>
</div>
<script type="text/javascript">
  $("#reminder_date").hide();
  checkReminder();
  $("#todo_reminder").on("change",function(){
    checkReminder();
  })
  
  function checkReminder() {
    if ($("#todo_reminder").is(":checked")) {
      $("#reminder_date").show();
    }else{
      $("#reminder_date").hide();
      $("#todo_reminder_date").val("");
    } 
  }
</script>