
<%= form_group_for f, :name, label: false  do %>
  <div>
    <%= f.label :name, "Title:" %>
  </div>
  <div>
    <%= f.text_field :name, class: "form-control" %>
  </div>
<% end %>
<div class="form-group">
  <div>
    <%= f.label :categories, "Categories:" %>
  </div>
  <div>
    <%= form_group_for f, :categories, label: false  do %>
    <% Todo::CATEGORIES.each do |category, key| %>
      <%= check_box_tag "todo[categories][]", category,f.object.categories.include?(category.to_s), { multiple: true } %>

    <label><%=category%></label><br>
    <% end%>
    <% end %>
    </br>
  </div>
</div>
<%= form_group_for f, :date, label: false  do %>
  <div>
    <%= f.label :date, "Date:" %>
  </div>
   <div class="input-group date">
    
    <%= f.text_field :date, value: f.object.date, class: "form-control", autocomplete: 'off' %><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    
  </div>
<% end %>
<div class="form-group">
  <div>
    <%= f.label :is_done, "Mark Done:" %>
  </div>
  <div>
    <%= f.check_box :is_done %>
  </div>
</div>
<div class="form-check">
  <div>
    <%= f.label :reminder, "Add Reminder:" %>
  </div>
  <div>
    <%= f.check_box :reminder %>
  </div>
</div>
<div id="reminder_date">
<%= form_group_for f, :reminder_date, label: false do %>
  <div>
    <%= f.label :reminder_date, "Reminder Date:" %>
  </div>
  <div class="input-group date">
    
    <%= f.text_field :reminder_date, value: f.object.reminder_date, class: "form-control", autocomplete: 'off' %><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    
  </div>
<% end %>
</div>
<div class="form-check">
    <div>
      <%= f.label :is_public, "Is Public" %>
    </div>
    <div>
      <%= f.label :is_public, "Yes", value: "true"  %>
      <%= f.radio_button :is_public, true %>
      <%= f.label :is_public, "No", value: "false" %>
      <%= f.radio_button :is_public, false, checked: true %>
    </div>
</div>
<div class="form-group">
  <div>
    <%= f.label :todo_attachment, "Todo Attachment" %>
  </div>
  <div>
    <%= f.file_field :todo_attachment, class: "form-control-file" %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#todo_date").datepicker({
      format: 'yyyy-mm-dd'
    });
    $("#todo_reminder_date").datepicker({
      format: 'yyyy-mm-dd'
    });
    $("#reminder_date").hide();
    checkReminder();
  })
  
  $("#todo_reminder").on("change",function(){
    checkReminder();
  })
  
  function checkReminder() {
    if ($("#todo_reminder").is(":checked")) {
      $("#reminder_date").show();
    }else{
      $("#reminder_date").hide();
      $("#todo_reminder_date").val("");
    } 
  }

  function validateForm(e) {
    if ($("#todo_reminder").is(":checked")) {
      if ($("#todo_reminder_date").val() == "") {
        alert("Please add reminder date")
        return false;
      }else if (new Date($("#todo_reminder_date").val()) > new Date($("#todo_date").val())) {
        alert("Reminder date can not be greater than the due date");
        return false;
      }
    }else if (new Date($("#todo_date").val()) < new Date()) {
      alert("Please select date greater that today's date")
      return false;
    }else{
      return true;
    }
  }
</script>