<thead>
	<th></th>
	<th>Item<i class="fa fa-fw fa-sort"></</th>
	<th>Categories<i class="fa fa-fw fa-sort"></</th>
	<th>Due Date<i class="fa fa-fw fa-sort"></</th>
	<th>Reminder Alert<i class="fa fa-fw fa-sort"></</th>
	<th>Completed<i class="fa fa-fw fa-sort"></</th>
	<th colspan="3"></th>
</thead>
<tbody>
	<% @todos.each do |todo| %>
		<tr>
			<td><input type="checkbox" name="todo_ids[]" value="<%= todo.id%>"></td>
			<%todo_presenter = TodoPresenter.new(todo)%>
			<td><%=todo.name%></td>
			<td><%=todo_presenter.todo_category%></td>
			<td><%=todo.date%></td>
			<td><%=todo.reminder%></td>
			<td><%=todo.is_done%></td>
			<td><%= link_to "View", todo_path(todo)%></td>
			<td><%= link_to "Edit", edit_todo_path(todo)%></td>
			<td><%= link_to "Delete", todo, method: :delete, data: { confirm: "You sure?" }%></td>
		</tr>
	<% end %>
</tbody>