<h1>Todo Item</h1>
<p><strong>Title:</strong> <%= @todo['name']%></p>
<p><strong>Due Date:</strong> <%= @todo['date']%></p>
<% presenter = TodoPresenter.new(@todo)%>
<p><strong>Categories:</strong> <%= presenter.todo_category%></p>
<p><strong>Reminder Alert:</strong> <%= @todo['reminder']%></p>
<p><strong>Todo Attachment:</strong> <%= image_tag @todo.todo_attachment.url, :width => "100", :height => "100" %></p>

<%= link_to "Back To Todo List",todos_path, :class => "btn btn-info"%>